{% load questionnaire i18n %}

<div class="clearfix">
    <div class="input">
        <ul class="inputs-list">
        {% for choice, key, checked, clarify in qdict.choices %}
            <li>
                <label>
                    <input onClick="valchanged('{{ question.number }}_{{ choice.value }}', this.checked);" type="checkbox" id="{{ key }}" name="{{ key }}" value="{{ choice.value }}" {{ checked }}>
                    <span>{{ choice.text | adapt_to_sex:runinfo }}</span>
                    {% if clarify %}
                    	({{ clarify.text }} &nbsp;<input type="text" id="{{clarify.key}}" name="{{clarify.key}}" value="{{clarify.value}}" checks="dep_check('{{question.number}},{{choice.value}}')">)
                    {% endif %}
                </label>
            </li>
        {% endfor %}

        {% if qdict.extras %}
            {% for key, value in qdict.extras %}
            <li>
                {% if not forloop.last or not forloop.first %}
                    <b>{{ forloop.counter }}.</b> 
                {% endif %}
                <input type="text" name="{{ key }}" size="50" value="{{ value }}">    
            </li>
            {% endfor %}
        {% endif %}

        {% if question.extra %}
            <li>
                <span class="help-block">{{ question.extra }}</span>
            </li>
        {% endif %}
    </div>
</div>
